body, html			{ border: 0; 
			   	  margin: 0;
				  font-family: serif;
		 	  	  font-size: 12pt; }
header, nav, article, footer	{ padding-left: 5%; 
				  padding-right: 5%; }
header				{ background: #ccc;
			 	  color: #333;
				  padding-bottom: 1.5ex; 
				  padding-top: 2ex;
				  box-shadow: 1px 1px 1px #ccc; }
header h1			{ margin: 0; }
a				{ text-decoration: none; }
figure				{ margin: 0;
				  padding: 0;
				  width: 100%;
				  text-align: center; }
figcaption			{ font-style: italic; }
footer				{ color: #666;
				  margin-top: 3em;
				  font-size: smaller; }
footer a			{ color: #444; 
		 		 font-weight: bold; }
footer a:hover			{ color: #000; }
nav				{ color: #9A3334; }
nav ul				{ padding: 0; 
				  margin-bottom: 0em;
				  display: inline-block; }
nav li				{ list-style-type: none; 
				  border-right: thin solid #9A3334; 
				  margin-right: 0.25ex;
				  padding-right: 0.5ex;
				  display: inline-block; }
nav li:last-child		{ border: 0; }
.nm				{ font-style: italic; }
h1				{ font-size: 18pt; }
figure				{ text-align: center; 
				  margin: 0; }
figure img			{ width: 100%; 
				  max-width: 744px; }
p				{ line-height: 150%; }
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	header, nav, article, footer { padding-left: 1%; padding-right: 1%; }
	h1			{ font-size: larger; }
	footer			{ margin-top: 1em; }
	nav			{ margin-top: 1em; }
	nav ul			{ display: block; 
				  margin-top: 0; }
	nav li			{ list-style-type: circle; 
				  border: 0;
				  display: block; }
}
