body, html			{ border: 0; 
			   	  margin: 0;
				  font-family: serif;
				  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
				  font-size: 12pt;
				  font-style: normal;
				  font-variant: normal;
				  font-weight: 400;
				  line-height: 18pt; }
h1 				{ font-family: Georgia, Times, Times New Roman, serif;
				  font-size: 24pt;
				  font-style: normal;
				  font-variant: normal;
				  font-weight: normal;
				  line-height: 26.4pt; }
header, 
section,
footer				{ padding-left: 5%; 
				  padding-right: 5%; }
header				{ background: #333;
			 	  color: #eee;
				  padding-bottom: 0.5ex; 
				  padding-top: 2%;
				  border-bottom: thin solid black; }
a				{ text-decoration: none; }
.intro				{ font-size: 120%; 
				  margin: 1.5em auto; }
article				{ color: #222; }
figure				{ margin: 0;
				  padding: 0;
				  border-top: thin solid #ddd;
				  box-shadow: 1px 1px 2px #ccc;
				  background-color: #eed;
				  width: 100%;
				  text-align: center; }
figure img		 	{ width: 90%; 
				  max-width: 744px; }
figcaption			{ font-size: 11pt;
				  color: #000;
				  line-height: 13pt;
				  padding-left: 5%;
				  padding-right: 5%;
				  padding-top: 1ex; 
				  padding-bottom: 1ex; 
			  	  text-align: left; }
footer				{ color: #666;
				  margin-bottom: 1em; 
				  text-align: center;
				  font-size: 11pt;
				  margin-top: 3em; }
footer a			{ color: #111; }
footer a:hover			{ color: #000; }
footer span			{ border-left: thin solid silver; 
			  	  margin-left: 0.5ex; 
			  	  padding-left: 1ex; }
a				{ color: #FF6600; }
a:hover				{ color: red; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  padding: 0; }
nav[data-sblg-nav] aside	{ display: block; }
nav[data-sblg-nav] time		{ color: #666; }
nav[data-sblg-nav] li		{ margin: 0; 
				  margin-top: 0.5em; 
				  line-height: 16pt;
				  margin-bottom: 1.12em; }
header nav ul			{ padding: 0; 
				  margin-top: 1ex;
				  margin-bottom: 0em;
				  display: inline-block; }
header nav li			{ list-style-type: none; 
				  margin-right: 0.25ex;
				  padding-right: 1ex;
				  display: inline-block; }
header nav li:last-child	{ border: 0; }
.nm				{ font-style: italic; }
h1				{ margin: 0; }
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
.intro				{ font-size: inherit; }
header, section, footer 	{ padding-left: 1%; padding-right: 1%; }
footer				{ margin-top: 1em; }
header nav span			{ display: none; }
}
