body, html			{ border: 0; 
			   	  margin: 0;
				  font-family: serif;
		 	  	  font-size: 14pt; }
header, 
section,
footer				{ padding-left: 5%; 
				  padding-right: 5%; }
header				{ background: #333;
			 	  color: #eee;
				  padding-bottom: 0.5ex; 
				  padding-top: 2%;
				  border-bottom: thin solid black; }
header nav >*			{ margin-right: 1em; }
a				{ text-decoration: none; }
.intro				{ font-size: 16pt; 
				  margin: 1ex auto; }
article				{ line-height: 120%; 
				  color: #222; }
figure				{ margin: 0;
				  padding: 0;
				  border-top: thin solid #ddd;
				  box-shadow: 1px 1px 2px #ccc;
				  background-color: #eed;
				  width: 100%;
				  text-align: center; }
figure >*			{ padding-left: 5%;
				  padding-right: 5%; }
figure img		 	{ width: 100%; 
				  max-width: 744px; }
figcaption			{ font-size: 13pt;
				  color: #000;
				  padding-top: 1ex; 
				  padding-bottom: 1ex; 
			  	  text-align: left; }
footer				{ color: #666;
				  margin-bottom: 1em; 
				  text-align: center;
				  font-size: 11pt;
				  margin-top: 3em; }
footer a			{ color: #111; }
footer a:hover			{ color: #000; }
footer span			{ border-left: thin solid silver; 
			  	  margin-left: 0.5ex; 
			  	  padding-left: 1ex; }
a				{ color: #FF6600; }
a:hover				{ color: red; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  font-size: 13pt;
				  padding: 0; }
nav[data-sblg-nav] aside	{ display: block; }
nav[data-sblg-nav] time		{ color: #666; }
nav[data-sblg-nav] li		{ margin: 0; 
				  margin-top: 0.5em; 
				  line-height: 110%;
				  margin-bottom: 0.5em; }
header nav ul			{ padding: 0; 
				  margin-top: 1ex;
				  margin-bottom: 0em;
				  display: inline-block; }
header nav li			{ list-style-type: none; 
				  margin-right: 0.25ex;
				  font-size: 12pt;
				  padding-right: 0.5ex;
				  display: inline-block; }
header nav li:last-child	{ border: 0; }
.nm				{ font-style: italic; }
h1				{ font-size: 28pt; 
				  margin: 0; 
			  	  font-weight: normal; }
p				{ line-height: 125%; }
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	header, section, footer 
				{ padding-left: 1%; padding-right: 1%; }
	h1			{ font-size: larger; }
	footer			{ margin-top: 1em; }
	header nav span		{ display: none; }
}
